/* layout */

.drink {
    width: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 11px 0 9px 0;
}

.drink-name {
    margin: 5px auto;
}

.drink-money {
    width: 70px;
}


/* style */
.drink {
    background-color: #FFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    border: 3px solid transparent;
    border-radius: 9px;
}

.drink:active {
    border: 3px solid #6327FE;
}

.drink-name {
    font-size: 9px;
}

.drink-money {
    background: #6327FE;
    border-radius: 50px;
    text-align: center;
    line-height: 21px;
}

.drink-money span {
    font-size: 12px;
    color: #FFF;
}

.sold-out {
    position: relative;
}

.sold-out-bg {
    position: absolute;
    background: #000000CC;
    width: 100px;
    height: 140px;
    border-radius: 9px ;
}

.sold-out-logo {
    position: absolute;
    width: 45px;
    height: 21px;
    text-align: center;
    color: #EAE8FE;
    font-weight: 900;
    border: 5px double #EAE8FE;
    rotate: -15deg;
}